# Development
PORT=3000
WS_PORT=1234

FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres:password@postgres:5432/Cowrite?schema=public"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=my_super_secret_jwt_key_for_development_only
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEMINI_API_KEY=
